<%- include('layout/header', { title: '首页' }) %>

<style>
    .welcome {
        text-align: center;
        margin-top: 200px;
    }
</style>
<h1 class="welcome"><%= userName + ',' %>welcome!</h1>

<script>

</script>
<%- include('layout/footer') %>
